django==2.2.7
djangorestframework==3.10.3
djangorestframework-jwt==1.11.0
django-cors-headers==3.2.1
django-mysql==3.5.0
firebase-admin==4.4.0
python-dotenv==0.10.3
uwsgi==2.0.18
PyMySQL==0.9.3
PyYAML==3.12
line-bot-sdk==1.14.0
mysqlclient==1.4.5
pillow==6.2.0
matplotlib==3.3.2
pandas==0.25.2
numpy==1.17.3
passlib==1.7.2
jsonschema==3.2.0
nbclient==0.5.1
nbformat==5.0.8
ipynb-py-convert==0.4.6
ipython==7.16.1
ipykernel==5.3.4